[Unit]
Description=test

[Service]

User=test

#PAMName=login

Restart=no
TimeoutStopSec=70

OpenFile=/etc/mainpid:myfdname:truncate
ExecStart=/var/tmp/ready

Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
